body {
  background-color: #151722;
}

/* Custom CSS for the hover animation */
.hover-underline {
  position: relative;
  text-decoration: none;
  text-underline-offset: 8px;
}

.hover-underline::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff; /* Change this to your desired underline color */
  transition: width 0.3s ease-in-out;
  text-underline-offset: 8px;
}

.hover-underline:hover::before {
  width: 100%;
  text-underline-offset: 8px;
}
